* :before, after {
  box-sizing:border-box;
  
  }
 
  
img {max-width:100%;}

body {
  margin:0;
  font-family: 'Indie Flower', cursive;
 }

.dontDisplay {
  display:none;
 }

header {
  padding:auto;
  height: 100vh;
  text-align: center;
  background: rgb(116,204,82);
  background: linear-gradient(180deg, rgba(116,204,82,1) 0%, rgba(160,212,67,1) 36%, rgba(184,220,52,1) 100%);
  
  }

header h1 {
  font-size: 4em;
  margin :0;
  padding: 0.2em 0;
  color:white;
 
  
}


header img {
  width: 15vw;
}

header h2 {
  font-size:3em;
  margin :0.25em;
  color:white;
}

header p {
  font-size: 1.2em;
}

button {
  background:green;
  margin-top:1em;
  padding:1em;
  box-shadow:none;
  border:0 none;
  color:white;
  font-size:1.5em;
  font-weight: bold;
  border-radius : 0.25em;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

@keyframes myslidein {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 88%;
  }
}

#childTrolley {
  margin:0.5em;
  
  width: 20vh;
  display:block;
  animation: myslidein 5s;
}
  


.game-board {
  display:flex;
  background: rgb(116,204,82);
  background: linear-gradient(180deg, rgba(116,204,82,1) 0%, rgba(160,212,67,1) 36%, rgba(184,220,52,1) 100%);
}

.score h3 {
  font-size:2em;
  color:white;
  font-weight: bold;
}

.score p {
  font-size : 2em;
}

.barreDeSante {
  margin-top : 3em;
  margin-left :1em;
}

.barreDeSante h3 {
  font-size: 2em;
}


progress {
    
    border: 0;
    height: 18px;
    border-radius: 9px;
    background-color:#3df337;
  }

  progress::-webkit-progress-bar {
    background-color:#f1ee14;
  }
  progress::-webkit-progress-value {
   background-color: linear-gradient(rgba(234,242,100,1) 0%, rgba(8,187,55,1));
  }




.gif {
  text-align: center;
  padding-top:100px;
  margin-left: auto;
  margin-right:auto;
  }
  
.gif img {
  
  width:50%;
}

.gameOver {
margin : auto;

background: rgb(116,204,82);
background: linear-gradient(180deg, rgba(116,204,82,1) 0%, rgba(160,212,67,1) 36%, rgba(184,220,52,1) 100%);
height: 100vh;
width: 100vw;
}


@keyframes clignote {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

.gameOver h1 {
  margin-top:0;
  text-align: center;
  font-size: 6em;
  font-weight:bolder;
  color:red;
  animation:clignote 1s infinite;
}

.gameOver p {
  text-align: center;
  font-size: 2em;
  font-weight:bold;
  } 

.hospital {
  display:flex;
  align-items: baseline;
}
#doctor {
 
  width : 250px;
  margin-left:auto;
 
}
@keyframes myslidein2 {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 72%;
  }
}

#ambulance {
 margin-left: 72%;
  width: 100px;
  animation: myslidein2 5s;
}

.gameOver button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



