* :before, after {
  box-sizing:border-box;
  
  }
 
  
img {max-width:100%;}

body {
  margin:0;
  font-family: 'Indie Flower', cursive;
 }

.dontDisplay {
  display:none;
 }

 /* ##     ## ########    ###    ########  ######## ########  
    ##     ## ##         ## ##   ##     ## ##       ##     ## 
    ##     ## ##        ##   ##  ##     ## ##       ##     ## 
    ######### ######   ##     ## ##     ## ######   ########  
    ##     ## ##       ######### ##     ## ##       ##   ##   
    ##     ## ##       ##     ## ##     ## ##       ##    ##  
    ##     ## ######## ##     ## ########  ######## ##     ##  */

header {
  padding:auto;
  height: 100vh;
  text-align: center;
  background: rgb(242,178,100);
  /* background: rgb(116,204,82); */
  background: linear-gradient(0deg, rgba(242,178,100,1) 0%, rgba(220,240,76,1) 45%, rgba(3,101,28,1) 100%); */
  /* background: linear-gradient(180deg, rgba(116,204,82,1) 0%, rgba(160,212,67,1) 36%, rgba(184,220,52,1) 100%); */
  }

header h1 {
  font-size: 4em;
  margin :0;
  padding: 0.2em 0;
  color:white;
}

#healthyVege {
  width:20vw;
}

header h2 {
  font-size:2.5em;
  margin :0em;
  color:white;
}

header p {
  font-size: 1.5em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom: 0.5em;
  padding-left: 6em;
  padding-right:6em;
}

header .anim {
display:flex;
align-items: flex-end;
justify-content: space-between;



}


@keyframes myslidein {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 88%;
  }
}

#childTrolley {
  margin:0.5em;
  width: 20vh;
  display:block;
  animation: myslidein 5s;
}

header #supermarket {
  width:50vh;
  margin-left:auto;
}


button {
  background:rgba(3,101,28,1);
  margin-top:1em;
  margin-left: auto;
  margin-right: auto;
  padding:1em;
  box-shadow:none;
  border:0 none;
  color:white;
  font-size:1.5em;
  font-weight: bold;
  border-radius : 0.25em;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  display: block;
  width: 9em;

}



#childTrolley {
  margin:0.5em;
  animation: myslidein 5s;
}
  
/* ######      ###    ##     ## ########    ########   #######     ###    ########  ########  
  ##    ##    ## ##   ###   ### ##          ##     ## ##     ##   ## ##   ##     ## ##     ## 
  ##         ##   ##  #### #### ##          ##     ## ##     ##  ##   ##  ##     ## ##     ## 
  ##   #### ##     ## ## ### ## ######      ########  ##     ## ##     ## ########  ##     ## 
  ##    ##  ######### ##     ## ##          ##     ## ##     ## ######### ##   ##   ##     ## 
  ##    ##  ##     ## ##     ## ##          ##     ## ##     ## ##     ## ##    ##  ##     ## 
  ######   ##     ## ##     ## ########    ########   #######  ##     ## ##     ## ########   */

.game-board {
  height: 100vh;
  
  background: rgb(242,178,100);
  background: linear-gradient(0deg, rgba(242,178,100,1) 0%, rgba(220,240,76,1) 45%, rgba(3,101,28,1) 100%);
}

.flexi {
  display:flex;
}

.score {
  height: 100vh;
}
.score h3 {
  font-size:2em;
  color:white;
  font-weight: bold;
}

.score p {
  font-size : 2em;
}

.barreDeSante {
  margin-top : 3em;
  margin-left :1em;
}

.barreDeSante h3 {
  font-size: 2em;
}

progress {
    
    border: 0;
    height: 18px;
    border-radius: 9px;
    background-color:#3df337;
  }

  progress::-webkit-progress-bar {
    background-color:#f1ee14;
  }
  progress::-webkit-progress-value {
   background-color: #f27323;
   /* linear-gradient(rgba(234,242,100,1) 0%, rgba(8,187,55,1)); */
  }


.gif {
  text-align: center;
  padding-top:50px;
  margin-left: auto;
  margin-right:auto;
  }
  
.gif img {
  width:50%;
}

.gif p {
  font-size: 1.2em;
  margin-left:1em;
  margin-right: 1em;
}

/* ######      ###    ##     ## ########     #######  ##     ## ######## ########  
  ##    ##    ## ##   ###   ### ##          ##     ## ##     ## ##       ##     ## 
  ##         ##   ##  #### #### ##          ##     ## ##     ## ##       ##     ## 
  ##   #### ##     ## ## ### ## ######      ##     ## ##     ## ######   ########  
  ##    ##  ######### ##     ## ##          ##     ##  ##   ##  ##       ##   ##   
  ##    ##  ##     ## ##     ## ##          ##     ##   ## ##   ##       ##    ##  
  ######   ##     ## ##     ## ########     #######     ###    ######## ##     ##  */

.gameOver {
margin : auto;

background: rgb(242,178,100);
  background: linear-gradient(0deg, rgba(242,178,100,1) 0%, rgba(220,240,76,1) 45%, rgba(3,101,28,1) 100%);
height: 100vh;
width: 100vw;
}


@keyframes clignote {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

.gameOver h1 {
  margin-top:0;
  text-align: center;
  font-size: 6em;
  font-weight:bolder;
  color:red;
  animation:clignote 1s infinite;
}

.gameOver p {
  text-align: center;
  font-size: 2em;
  font-weight:bold;
  } 

.hospital {
  display:flex;
  align-items: baseline;
}
#doctor {
 
  width : 250px;
  margin-left:auto;
 
}
@keyframes myslidein2 {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 72%;
  }
}

#ambulance {
 margin-left: 72%;
  width: 100px;
  animation: myslidein2 5s;
}


.gameOver, .win {
  margin : auto;
  background: rgb(242,178,100);
  background: linear-gradient(0deg, rgba(242,178,100,1) 0%, rgba(220,240,76,1) 45%, rgba(3,101,28,1) 100%);
  height: 100vh;
  width: 100vw;
  }
  
  
.title {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
  .win h1 {
    margin-top:0;
    text-align: center;
    font-size: 4.7em;
    font-weight:bolder;
    color:white;
    margin-top: auto;
    margin-bottom:auto;
    animation:clignote 1s infinite;
  }
  
  .strongBroco {
    width:20vh;
  }
  .win p {
    text-align: center;
    font-size: 2em;
    font-weight:bold;
    } 

 
 
@keyframes bounce1 {
        from {margin-bottom:0;
              margin-top:50px;}
        50%  {margin-bottom: 50px;
              margin-top:0px;}
        to   {margin-bottom: O;
              margin-top:50px;}
  }

@keyframes bounce2 {
  from {margin-bottom:0;
        margin-top:30px;}
  50%  {margin-bottom: 30px;
        margin-top:0px;}
  to   {margin-bottom: O;
        margin-top:30px;}
}

@keyframes bounce3 {
  from {margin-top:0;}
  50%  {margin-top: 5px;}
  to   {margin-top: O;}
}

@keyframes bounce4 {
  from {margin-top:0;}
  50%  {margin-top: 20px;}
  to   {margin-top: O;}
}

.happyVegetables {
  display:flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}
.happyVegetables img {
  height:10em;
    }
  
#broccoli {
  animation: bounce1 0.7s ease infinite;
}

#carrot {
  animation: bounce2 1s ease infinite;
}

#navet {
  animation: bounce1 1.2s ease infinite;
}

#tomato {
  animation: bounce2 0.9s ease infinite;
}
  
  